@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.9911 0 0);
  --foreground: oklch(0 0 0);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0 0 0);
  --popover: oklch(0.9911 0 0);
  --popover-foreground: oklch(0 0 0);
  --primary: oklch(0 0 0);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.9401 0 0);
  --secondary-foreground: oklch(0 0 0);
  --muted: oklch(0.9702 0 0);
  --muted-foreground: oklch(0.4386 0 0);
  --accent: oklch(0.9401 0 0);
  --accent-foreground: oklch(0 0 0);
  --destructive: oklch(0.5217 0.2213 274.4571);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.9189 0 0);
  --input: oklch(0.9401 0 0);
  --ring: oklch(0 0 0);
  --chart-1: oklch(0.5874 0.2984 308.1264);
  --chart-2: oklch(0.8414 0.2510 139.2429);
  --chart-3: oklch(0.7187 0 0);
  --chart-4: oklch(0.9189 0 0);
  --chart-5: oklch(0.5590 0 0);
  --sidebar: oklch(0.9911 0 0);
  --sidebar-foreground: oklch(0 0 0);
  --sidebar-primary: oklch(0 0 0);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.9401 0 0);
  --sidebar-accent-foreground: oklch(0 0 0);
  --sidebar-border: oklch(0.9401 0 0);
  --sidebar-ring: oklch(0 0 0);
  --font-sans: Roboto, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Roboto Slab, ui-serif, serif;
  --font-mono: Share Tech Mono, ui-monospace, monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 1px;
  --shadow-blur: 14px;
  --shadow-spread: 0px;
  --shadow-opacity: 1;
  --shadow-color: #1a1a1a;
  --shadow-2xs: 0px 1px 14px 0px hsl(0 0% 10.1961% / 0.50);
  --shadow-xs: 0px 1px 14px 0px hsl(0 0% 10.1961% / 0.50);
  --shadow-sm: 0px 1px 14px 0px hsl(0 0% 10.1961% / 1.00), 0px 1px 2px -1px hsl(0 0% 10.1961% / 1.00);
  --shadow: 0px 1px 14px 0px hsl(0 0% 10.1961% / 1.00), 0px 1px 2px -1px hsl(0 0% 10.1961% / 1.00);
  --shadow-md: 0px 1px 14px 0px hsl(0 0% 10.1961% / 1.00), 0px 2px 4px -1px hsl(0 0% 10.1961% / 1.00);
  --shadow-lg: 0px 1px 14px 0px hsl(0 0% 10.1961% / 1.00), 0px 4px 6px -1px hsl(0 0% 10.1961% / 1.00);
  --shadow-xl: 0px 1px 14px 0px hsl(0 0% 10.1961% / 1.00), 0px 8px 10px -1px hsl(0 0% 10.1961% / 1.00);
  --shadow-2xl: 0px 1px 14px 0px hsl(0 0% 10.1961% / 2.50);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0 0 0);
  --foreground: oklch(1.0000 0 0);
  --card: oklch(0.2163 0.0025 145.4898);
  --card-foreground: oklch(1.0000 0 0);
  --popover: oklch(0.2163 0.0025 145.4898);
  --popover-foreground: oklch(1.0000 0 0);
  --primary: oklch(1.0000 0 0);
  --primary-foreground: oklch(0 0 0);
  --secondary: oklch(0.2520 0 0);
  --secondary-foreground: oklch(1.0000 0 0);
  --muted: oklch(0.2308 0 0);
  --muted-foreground: oklch(0.7187 0 0);
  --accent: oklch(0.3211 0 0);
  --accent-foreground: oklch(1.0000 0 0);
  --destructive: oklch(0.5731 0.2363 275.9502);
  --destructive-foreground: oklch(0 0 0);
  --border: oklch(0.2603 0 0);
  --input: oklch(0.3211 0 0);
  --ring: oklch(0.7187 0 0);
  --chart-1: oklch(0.5874 0.2984 308.1264);
  --chart-2: oklch(0.8587 0.2527 137.6339);
  --chart-3: oklch(0.5590 0 0);
  --chart-4: oklch(0.4386 0 0);
  --chart-5: oklch(0.9189 0 0);
  --sidebar: oklch(0.2163 0.0025 145.4898);
  --sidebar-foreground: oklch(1.0000 0 0);
  --sidebar-primary: oklch(1.0000 0 0);
  --sidebar-primary-foreground: oklch(0 0 0);
  --sidebar-accent: oklch(0.3211 0 0);
  --sidebar-accent-foreground: oklch(1.0000 0 0);
  --sidebar-border: oklch(0.3211 0 0);
  --sidebar-ring: oklch(0.7187 0 0);
  --font-sans: Roboto, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Roboto Slab, ui-serif, serif;
  --font-mono: Share Tech Mono, ui-monospace, monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 1px;
  --shadow-blur: 14px;
  --shadow-spread: 0px;
  --shadow-opacity: 1;
  --shadow-color: #ff0000;
  --shadow-2xs: 0px 1px 14px 0px hsl(0 100% 50% / 0.50);
  --shadow-xs: 0px 1px 14px 0px hsl(0 100% 50% / 0.50);
  --shadow-sm: 0px 1px 14px 0px hsl(0 100% 50% / 1.00), 0px 1px 2px -1px hsl(0 100% 50% / 1.00);
  --shadow: 0px 1px 14px 0px hsl(0 100% 50% / 1.00), 0px 1px 2px -1px hsl(0 100% 50% / 1.00);
  --shadow-md: 0px 1px 14px 0px hsl(0 100% 50% / 1.00), 0px 2px 4px -1px hsl(0 100% 50% / 1.00);
  --shadow-lg: 0px 1px 14px 0px hsl(0 100% 50% / 1.00), 0px 4px 6px -1px hsl(0 100% 50% / 1.00);
  --shadow-xl: 0px 1px 14px 0px hsl(0 100% 50% / 1.00), 0px 8px 10px -1px hsl(0 100% 50% / 1.00);
  --shadow-2xl: 0px 1px 14px 0px hsl(0 100% 50% / 2.50);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}
